<style>

    .image {
        align-items: center;
        max-width: 50px;
    }

</style>

</br>
</br>

<h1 class="text-center">Weapon Info</h1>
</br>


<!--Game Session-->
<h5>Game Session List</h5>
<div class="list-group">
  <!--  Headers-->
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item bg-dark header" style="width:50%; text-align:center; color:white; font-weight:bold">Map</li>
    <li class="list-group-item bg-dark header" style="width:50%; text-align:center; color:white; font-weight:bold">Time</li>
  </ul>

  <!--  Each Weapon-->
  <% @game_list.each_with_index do |g, index| %>
    <ul class="list-group no-border list-group-horizontal">
      <li class="list-group-item no-border" style="width:50%; text-align:left"><%= g[0] %></li>
      <li class="list-group-item no-border" style="width:50%; text-align:right"><%= g[1] %></li>
    </ul>
  <% end %>
</div>

</br>
</br>

<!--Gun List-->
<h5>Gun List</h5>
<div class="list-group">
  <% @weapon_list.each do |w| %>
    <a href="#" class="list-group-item list-group-item-action"><img class="image" src="<%= w.image_url %>" alt=""><%= w.name %></a>
  <% end %>
</div>