<style>

  .index-number {
      color: #a6a6a6;
      text-align: center;
      width:5%;
  }

  .no-border {
      border-color: white;
  }

  .header {
      color: #f3f3f3;
      font-weight:bold;
      border-color: #626262;
  }

</style>

</br>
</br>

<h1 class="text-center">Weapon Ranking</h1>
</br>

<!--Gun List-->
<div class="list-group">
<!--  Headers-->
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item index-number bg-dark header">#</li>
    <li class="list-group-item bg-dark header" style="width:55%">Weapon</li>
    <li class="list-group-item bg-dark header" style="width:20%; text-align:right">Purchases</li>
    <li class="list-group-item bg-dark header" style="width:20%; text-align:right">Damage Dealt</li>
  </ul>

<!--  Each Weapon-->
    <% @weapons.each_with_index do |w, index| %>
      <ul class="list-group list-group-horizontal">
        <li href="#" class="list-group-item index-number no-border list-group-item-action"><%= index + 1 %></li>
        <li class="list-group-item no-border list-group-item-action" style="width:55%"><%= w.name %></li>
        <li class="list-group-item no-border list-group-item-action" style="width:20%; text-align:right"><%= w.purchases %></li>
        <li class="list-group-item no-border list-group-item-action" style="width:20%; text-align:right"><%= w.damage %></li>
      </ul>
    <% end %>
</div>